.particle-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
}

.particle-background canvas {
  display: block;
  width: 100%;
  height: 100%;
}
